@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
.content_header{
    text-transform: uppercase;
    padding-top: 50px;
}
.container{
    padding: 15px;
}
.main{
    font-family: 'Baloo 2', cursive;
}