.content{
    padding-top: 50px;
    padding-bottom: 50px;
}
.social ul{
    display: flex;
}
.list-unstyled>li{
    display: inline;
    margin: 0 5px;
}
.list-unstyled>li>a{
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: #D3D3D3;
}
.nav-ico{
    margin: 0;
    line-height: 30px;
    text-align: center;
    color: #fff;
    transition: all 0.8s;
}
.btn{
    background-color: #549cea;
    border: #549cea;
    color: #fff;
}