@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
}

.spinner {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c85910;
  z-index: 999999;
  }

.logo_area{
  margin: 4px;
  margin-left: 36px;
}
.logo{
  width: 212px;
  height: 70px;
}
.topbar{
  display: flex;
  justify-content: space-between;
}
.sologan{
  margin: 12px 37px 18px 0px;
}
.slg-heading>span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: fit-content;
}

.slg-subheading{
  margin-left: 42px;
}
.slg-subheading>span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .slg-heading>span{
    font-size: 10px;
  }
  .slg-subheading>span{
    font-size: 8px;
  }
  .logo{
    width: 150px;
    height: 55px;
    margin-left: -30px;
  }
}
.nav-item>.nav-link{
  color: #fff;
  border: 1px solid transparent;
  font-weight:500;
  transition: 1s background ease;
}
.nav-item>.nav-link:hover{
  background-color: #fff;
  color: #000;
}
.slider-btn{
  background-color: rgba(0, 0, 0, 0.445);
  border: none; 
  border-radius: 0px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 1s background ease;
}
.slider-btn:hover{
  background-color: rgb(148 84 84 / 45%);
  color: #000;
}
.parralax_image{
  min-height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_read_more_btn{
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 22px;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.445);
}
.about_read_more_btn:hover{
  background-color: rgb(148 84 84 / 45%);
  color: #000;
  transition: 1s background ease;
}
.cat-container{
  margin-top: 30px;
}
.img-thumbnail{
  width: 638px;
  height: 363px;
}
.sub-menu{
  position: absolute;
  z-index: 999;
  color: #fff;
  background: #c85910;
  padding: 30px;
  min-height: max-content;
}
.sub-menu>li,a{
  padding: 5px;
}
.sub-menu>li:hover{
  background-color: #bb520d;
}
@media screen and (max-width: 778px) {
  .sub-menu{
    visibility: hidden;
  }
}
.products-sub-menu{
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -o-column-count: 4;
  column-count: 4; 
  align-items: center;
  display: none;
  top: 100%;
  left: 15%;
}
#news-media-sub-menu{
  align-items: center;
  top: 100%;
  right: 27%;
  display: none;
}
#services-sub-menu{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3; 
  align-items: center;
  display: none;
  top: 100%;
  right: 15%;
  left: 15%;
}
.sm-products-sub-menu{
  position: absolute;
  z-index: 999;
  color: #fff;
  background: #c85910;
  padding: 30px;
  top: 50%;
  display: none;
}
.sm-products-sub-menu>li,a{
  padding: 5px;
}
.sm-products-sub-menu>li:hover{
  background-color: #bb520d;
}
.sm-services-sub-menu{
  position: absolute;
  z-index: 999;
  color: #fff;
  background: #c85910;
  padding: 30px;
  top: 61%;
  display:none;
}
.sm-services-sub-menu>li,a{
    padding: 5px;
}
.sm-services-sub-menu>li:hover{
  background-color: #bb520d;
}
.sm-news-media-sub-menu{
  position: absolute;
  z-index: 999;
  color: #fff;
  background: #c85910;
  padding: 30px;
  top: 73%;
  display: none;
}
.sm-news-media-sub-menu>li,a{
    padding: 5px;
}
.sm-news-media-sub-menu>li:hover{
    background-color: #bb520d;
}
@media screen and (min-width: 778px) {
  .sm-products-sub-menu{
    visibility: hidden;
  }
  .sm-services-sub-menu{
      visibility: hidden;
  }
  .sm-news-media-sub-menu{
  visibility: hidden;
  }
}